<html>
    <head>
        <meta charset="utf-8">
        <title>Slimes Enviro</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="site-title">
            <h1>Slimes Enviro</h1>
        </div>
        <div class="navbar">
            <a href="index">Home</a>
            <a href="customers">Customers</a>
            <a href="employees">Employees</a>
            <a href="products">Products</a>
            <a href="orders">Orders</a>
            <a href="ordered_products">Ordered Products</a>
            <a href="fungi">Fungi</a>
            <a href="fungus_products">Fungus Products</a>  
        </div>


        {{{body}}}
    </body>
</html> 

