<h1 class="title">Employees</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Salary</th>
        <th></th>
    </tr>
    <tr>
        <th>1</th>
        <th>Karolina Martins</th>
        <th>kcmartins@gmail.com</th>
        <th>823 321 1235</th>
        <th>45000.25</th>
        <th><button>Delete</button></th>
    </tr>
    <tr>
        <th>2</th>
        <th>Jimmy McGill</th>
        <th>jm23@yahoo.com</th>
        <th>989 123 5555</th>
        <th>100000.00</th>
        <th><button>Delete</button></th>
    </tr>
    <tr>
        <th>3</th>        
        <th>Deborah Williams</th>
        <th>dbw2@gmail.com</th>
        <th>888 811 4241</th>
        <th>14000.73</th>
        <th><button>Delete</button></th>
    </tr>
</table>

<form id="addEmployee">
    <legend><h3>Add Employee</h3></legend>
    <fieldset>
        <label>Name</label> <input  type="text">
        <label>Email</label> <input  type="text">
        <label>Phone Number</label> <input  type="text">
        <label>Salary</label> <input  type="text">
    </fieldset>
</form>

<input type="submit" value="Add Employee">
<input type="button" value="Cancel">
