{{!-- Citation for index.handlebars --}}
{{!-- Date: 12/05/2022 --}}
{{!-- Adapted from Node JS Starter App--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}


<h1>Homepage</h1>

<p>
    <b>Customers:</b> View existing customers. <br>
    <b>Employees:</b> View current employees. <br>
    <b>Products:</b> View current products. <br>
    <b>Orders:</b> Manage orders and assign them to certain customers and employees. <br>
    <b>Ordered Products:</b> Display which products and how many of them go with each order. 
       Serves as the M:M intersection table between Orders and Products. <br>
    <b>Fungi:</b> View fungi. <br>
    <b>Fungus Products:</b> Displays which products go with which fungi. Serves as the M:M intersection table between Fungi and Products.<br>
</p>
