{{!-- Citation for index.handlebars --}}
{{!-- Date: 12/05/2022 --}}
{{!-- Adapted from Node JS Starter App--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}

<div class = "site-title">
     <h1> Welcome to Slimes Enviro! </h1>
</div>

<div class = "index-text">
    <p> Slimes Enviro, based in Corvallis, Oregon, is a midsize fungicide company that serves many large agricultural organizations throughout the Pacific Northwest, primarily in Oregon, Idaho, and Washington. </p>
</div>

<div class = "site-title">
     <h1> Database Overview: </h1>
</div>

<div class = "index-text">
    <p>
        <b>Customers:</b> View and add customers. <br>
    	<b>Employees:</b> View and delete employees. <br>
    	<b>Products:</b> View and add products. <br>
    	<b>Orders:</b> View, add, update, and delete orders. <br>
    	<b>Ordered Products:</b> View and add ordered products. Ordered products serves as the intersection table for orders and products. <br>
    	<b>Fungi:</b> View and add fungi. <br>
    	<b>Fungus Products:</b> View, add, and update fungus products. Fungus products serves as the intersection table for fungi and products.<br>
    </p>
</div>