<h1 class="title">Products</h1>

<table id= "products_table">
    <thead>
	<tr>
		<th>ID</th>
        	<th>Name</th>
	        <th>Price</th>
        	<th>Main Ingredient</th>
    	</tr>
    </thead>

    <tbody>
	{{#each data}}
	<tr>
		<td>{{this.product_id}}</td>
		<td>{{this.product_name}}</td>
		<td>{{this.price}}</td>
		<td>{{this.main_ingredient}}</td>
	</tr>
	{{/each}}
    </tbody>
</table>

<div>
    <h3>Instructions for adding Products:</h3>
    <p>All input filed must be filled in.</p>
    <p>Price must be a number greater than or equal to 0.</p>
</div>

<form id="addProduct">
    <legend><h3>Add Product</h3></legend>
    <fieldset>
        <label>Name</label> <input type="text" id="inputName">
        <label>Price</label> <input type="number" step="0.01" min="0" id="inputPrice"  required>
        <label>Main Ingredient</label> <input type="text" id="mainIng">
    </fieldset>
    <input type="submit" value="Add Product">
</form>


<script src="./js/add_product.js"></script>