<h1 class="title">Products</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Main Ingredient</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Redtail</th>
        <th>500.35</th>
        <th>Sulfur</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Hyper Galaxy</th>
        <th>200.73</th>
        <th>Bromine</th>
    </tr>
    <tr>
        <th>3</th>        
        <th>Microdigest</th>
        <th>780.11</th>
        <th>Cobalt</th>
    </tr>
</table>

<form id="addProduct">
    <legend><h3>Add Product</h3></legend>
    <fieldset>
        <label>Name</label> <input  type="text">
        <label>Price</label> <input  type="text">
        <label>Main Ingredient</label> <input  type="text">
    </fieldset>
</form>

<input type="submit" value="Add Product">
<input type="button" value="Cancel">